html {
    background-color: #ffffff;
}

body {
    font-size: 100%;
    background-color: #ffffff;
}

.logo {
    display: flex;
    justify-content: center;
    width: 40vw;
}

.logo img {
    width: 30vw;
}

.learn_more {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.learn_more img {
    width: 45vw;
}

.menu {
    display: flex;
    justify-content: right;
    width: 40vw;
}

.menu img {
    width: 20vw;
}

.dropdown {
    float: center;
    overflow: hidden;
}

.dropdown .dropbutton {
    border: none;
    outline: none;
    color: none;
    padding: 5vw 20vw;
    background-color: #171717;
    margin: 5vw;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    font-family: Futura;
    font-size: 6vw;
    font-weight: strong;
}
.dropdown-content a {
    float: none;
    color: white;
    padding: 5vw 20vw;
    text-decoration: none;
    display: flex;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: #171717;
}

.dropdown:hover .dropdown-content {
    display: block;
}

h1 {
    text-align: center;
    font-family: Futura;
    font-size: 17vw;
    color: #171717;
    margin-bottom: .1em;
    text-decoration: strong;
}

h2 {
    text-align: center;
    font-family: Futura;
    font-size: 4vw;
    color: #171717;
    margin-bottom: .3em;
    text-decoration: strong;
}

h3 {
    text-align: center;
    font-family: Futura;
    font-size: 5vw;
    font-style: italic;
    color: #171717;
    margin-bottom: .3em;
    text-decoration: strong;
}

h4 {
    text-align: center;
    font-family: Futura;
    font-size: 2vw;
    color: #ffffff;
    margin-bottom: .3em;
}